@import 'tailwindcss';
@tailwind utilities;

:root {
  /* 기본 컬러 팔레트 */
  --color-background: #000000;
  --color-surface: #111111;
  --color-surface-alt: #1a1a1a;
  --color-text: #ffffff;
  --color-text-secondary: #cccccc;

  --color-primary: #0ea5e9;
  --color-primary-light: #38bdf8;
  --color-secondary: #14b8a6;
}

/* 글로벌 스타일 */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}

canvas {
  height: 100% !important;
  width: 100% !important;
  display: block;
  background-color: var(--color-background);
  touch-action: none;
}

[data-slot='slider-track'] {
  height: 8px !important;
  background-color: var(--color-surface-alt) !important;
  border-radius: 4px !important;
}

[data-slot='slider-range'] {
  background-color: var(--color-primary) !important;
}

[data-slot='slider-thumb'] {
  width: 16px !important;
  height: 16px !important;
  background-color: var(--color-text) !important;
  border: 2px solid var(--color-primary) !important;
}

[data-slot='slider-thumb']:hover {
  background-color: #f0f0f0 !important;
}

.checkbox {
  border-color: var(--color-surface-alt) !important;
  background-color: var(--color-surface) !important;
}

.checkbox[data-state='checked'] {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
